p, body, li
{ 
    /* http://www.sitepoint.com/eight-definitive-font-stacks/  */
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 16px;
  line-height: 21px
}

.masthead {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}

.masthead .logo {
  height: 32px;
  width: 32px;
}

.masthead h3 a {
  color: #333333;;
  text-decoration: none;
}

.masthead h3 a:hover {
  color: #333333;
  text-decoration: none;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}