---
index: true
---

<div>
{{#each pages}}
  {{#unless data.index}}
    <h1><a href="#">{{data.title}}</a></h1>
    {{#markdown}}{{#excerpt}}{{{ page }}}{{/excerpt}}{{/markdown}}
  {{/unless}}
{{/each}}
</div>