---
index: true
---

{{!-- {{inspect this 'json'}} --}}

<div>
{{#each pages}}
  {{#unless data.index}}
    <h1><a href="{{relative ../dirname dirname}}">{{data.title}}</a></h1>
    {{#markdown}}{{#excerpt}}{{{ page }}}{{/excerpt}}{{/markdown}}
  {{/unless}}
{{/each}}
</div>