<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Devomato</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{assets}}/css/site.css">
  </head>
  <body>

    <div class="container">
      <div class="masthead">
        <h3>devomato</h3>
      </div>
      {{> body }}
      <section id="footer">
        <div class="footer">
          <p>&copy; 2013 Andrew Jones<br/></p>
        </div>
      </section>
    </div>

    {{#unless production}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/unless}}
  </body>
</html>